<div>
	<a [routerLink]="['/family-list']"><button type="button" class="btn btn-success">Retour</button></a>
</div>

<h3>Informations de famille :</h3>

<div class="container">
	<div class="row">

		<div class="col-sm">
			<div class="tableau1">
				<form class="well" (ngSubmit)="onUpdateFamilySubmit()" #updateForm='ngForm' ngNativeValidate>
					<table class="table table-striped table-bordered table-hover">
						<thead class="thead-light">
						</thead>
						<tbody>
							<tr>
								<th>ID</th>
								<td>
									<input type="text" [(ngModel)]='actualFamily.id' name='ref' #ref='ngModel' />
								</td>
							</tr>
							<tr>
								<th>Nom du pere</th>
								<td>
									<input type="text" required [(ngModel)]='actualFamily.father.lastName' name='flastName' placeholder="Nom" #flastName='ngModel'
									 pattern="[a-zA-Z ]*" />
								</td>
							</tr>
							<tr>
								<th>Prénom du pere</th>
								<td>
									<input type="text" required [(ngModel)]='actualFamily.father.firstName' name='ffirstName' placeholder="Prénom" #ffirstName='ngModel'
									/>
								</td>
							</tr>
							<tr>
								<th>Age</th>
								<td>
									<input type="number" required [(ngModel)]='actualFamily.father.age' name='fage' placeholder="0" #fage='ngModel' />
								</td>
							</tr>
							<tr>
								<th>Tél</th>
								<td>
									<input type="text" required [(ngModel)]='actualFamily.father.tel' name='ftel' placeholder="0612345678" #ftel='ngModel' />
								</td>
							</tr>
							<tr>
								<th>Email</th>
								<td>
									<input type="text" required [(ngModel)]='actualFamily.father.email' name='femail' placeholder="xxxx@gmail.com" #femail='ngModel'
									/>
								</td>
							</tr>
							<tr>
								<th>Nom de la mere</th>
								<td>
									<input type="text" required [(ngModel)]='actualFamily.mother.lastName' name='mlastName' placeholder="Nom" #mlastName='ngModel'
									 pattern="[a-zA-Z ]*" />
								</td>
							</tr>
							<tr>
								<th>Prénom de la mere</th>
								<td>
									<input type="text" required [(ngModel)]='actualFamily.mother.firstName' name='mfirstName' placeholder="Prénom" #mfirstName='ngModel'
									/>
								</td>
							</tr>
							<tr>
								<th>Age</th>
								<td>
									<input type="number" required [(ngModel)]='actualFamily.mother.age' name='mage' placeholder="0" #mage='ngModel' />
								</td>
							</tr>
							<tr>
								<th>Tél</th>
								<td>
									<input type="text" required [(ngModel)]='actualFamily.mother.tel' name='mtel' placeholder="0612345678" #mtel='ngModel' />
								</td>
							</tr>
							<tr>
								<th>Email</th>
								<td>
									<input type="text" required [(ngModel)]='actualFamily.mother.email' name='memail' placeholder="xxxx@gmail.com" #memail='ngModel'
									/>
								</td>
							</tr>
							<tr>
								<th>Rue</th>
								<td>
									<input type="text" required [(ngModel)]='actualFamily.address.road' name='road' placeholder="Rue" #road='ngModel' />
								</td>
							</tr>
							<tr>
								<th>Code postal</th>
								<td>
									<input type="text" required [(ngModel)]='actualFamily.address.postalCode' name='postalCode' placeholder="Code postal" #postalCode='ngModel'
									/>
								</td>
							</tr>
							<tr>
								<th>Ville</th>
								<td>
									<input type="text" required [(ngModel)]='actualFamily.address.city' name='city' placeholder="Ville" #city='ngModel' />
								</td>
							</tr>
						</tbody>
					</table>
					<div class="mesBoutons">
						<button *ngIf="null != actualFamily.id" type='submit' class="btn btn-primary">Mettre à jour la famille</button>
						<button *ngIf="null == actualFamily.id" type='submit' class="btn btn-primary">Ajouter la famille</button>
					</div>
				</form>
			</div>
		</div>

		<div class="col-sm">
			<hr>
			<div class="tableau2">
				<h4>Détails des enfants</h4>
				<table class="table table-striped table-bordered table-hover">
					<thead class="thead-light">
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Age</th>
							<th>Sexe</th>
							<th>Section</th>
							<th>Inscrire activités</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let child of actualFamily.children">

							<td>{{child.lastName}}</td>
							<td>{{child.firstName}}</td>
							<td>{{child.age}}</td>
							<td>{{child.gender}}</td>
							<td>{{child.section}}</td>
							<button class="btn btn-info" (click)="inscriptActivity(child)">Inscrire</button>
						</tr>
					</tbody>
				</table>
				<hr>
				<h4>Ajouter un nouveau enfant</h4>
				<form (ngSubmit)="addNewChild()" #updateForm='ngForm' ngNativeValidate>
					<table class="table table-striped table-bordered table-hover">
						<tbody>
							<tr>
								<td>
									<input type="text" required [(ngModel)]='newChild.lastName' name='clastName' placeholder="Nom" #clastName='ngModel' pattern="[a-zA-Z ]*"
									/>
								</td>
								<td>
									<input type="text" required [(ngModel)]='newChild.firstName' name='cfirstName' placeholder="Prénom" #cfirstName='ngModel'
									/>
								</td>
								<td>
									<input type="number" required [(ngModel)]='newChild.age' name='cage' placeholder="0" #cage='ngModel' />
								</td>
								<td>
									<select class="form-control" required [(ngModel)]='newChild.gender' name="genderselect" #genderselect='ngModel'>
										<option value="MALE">Garçon</option>
										<option value="FEMALE">Fille</option>
									</select>
								</td>
								<td>
									<select class="form-control" required [(ngModel)]='newChild.section' name="sectionselect" #sectionselect='ngModel'>
										<option value="GRAND">Grande Section</option>
										<option value="MOYEN">Moyenne Section</option>
										<option value="PETIT">Petite Section</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
					<button *ngIf="null != actualFamily.id" type='submit' class="btn btn-primary">Ajouter un enfant</button>
				</form>

			</div>
		</div>
	</div>
</div>
