<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  <meta charset="utf-8">
    Bienvenue à {{ title }}!
  </h1>
  <img width="600" alt="Angular Logo" src="/assets/imgs/portail-famille.jpg">
  </div>
  <div class="app">
      <router-outlet></router-outlet>
    </div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

