<div type="submit" value="Ajouter une nouvelle famille"
	[routerLink]="['/family-update']"></div>
<table>
	<thead class="thead-light">
		<tr id="monRow">
			<th>ID</th>
			<th>Père</th>
			<th>Mère</th>
			<th>Nombre d'enfant</th>
			<th>Adresse</th>
			<th colspan="2">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let family of families">
			<td>{{family.id}}</td>
			<td>{{family.fatherName}}</td>
			<td>{{family.motherName}}</td>
			<td>{{family.childrenNumber}}</td>
			<td>{{family.address}}</td>
			<td>
				<button class="btn btn-info" (click)="showFamilyDetail(family)">Détail</button>
			</td>
			<td>
				<button class="btn btn-info" (click)="deleteFamily(family)">Supprimer</button>
			</td>
		</tr>
	</tbody>
</table>
